<div class="col-md-4"></div>
<div class="col-md-4">

<h4><%= t('view.login') %></h4>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<div class="input-group input_new">
  <div class="task_name">
    <%= f.label :email, class: "input-form" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="input task_description">
    <%= f.label :password, class: "input-form" %>
    <%= f.text_field :password, class: "form-control" %>
  </div>
  <div class="submit_login">
<%= f.submit t('view.login'), class: "submit_login input_btn btn btn-primary" %>
  </div>
<% end %>
</div>
<div class="col-md-4"></div>
