<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %><%= t('activerecord.errors.messages.error_counts') %></h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-group input_new">
    <div class="task_name">
      <%= form.label :name, class: "input-form" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="input task_description">
      <%= form.label :description, class: "input-form" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>
    <div class="input task_expired_at">
      <%= form.label :expired_at, class: "input-form" %>
      <%= form.datetime_field :expired_at, class: "form-control" %>
    </div>
    <div class="input task_status">
      <%= form.label :status, class: "input-form" %>
      <%= form.select :status, Task.statuses.keys, {}, class: "form-control", id: "task_status_field" %>
    </div>
    <div class="input task_priority">
      <%= form.label :priority, class: "input-form" %>
      <%= form.select :priority, Task.priorities.keys, {}, class: "form-control", id: "task_priority_field" %>
    </div>
  <%= form.submit class: "input_btn btn btn-primary" %>
<% end %>
<br>
<%= link_to t('view.to_index_view'), tasks_path, class: "input_btn btn btn-default" %>
