<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %><%= t('activerecord.errors.messages.error_counts') %></h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="task_description">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div class="task_description">
    <%= form.label :expired_at %>
    <%= form.datetime_field :expired_at %>
  </div>
  <div class="task_description">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys, {} %>
  </div>
  <div class="task_description">
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys, {} %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to t('view.to_index_view'), tasks_path %>
