<h2><%= t('view.index_view') %></h2>
<p><%= notice %></p>
<table>
  <tr>
    <th><%= t('activerecord.attributes.task.name') %></th>
    <th><%= t('activerecord.attributes.task.description') %></th>
    <th><%= t('activerecord.attributes.task.expired_at') %></th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.description %></td>
    <td><%= task.expired_at %></td>
    <td><%= link_to t('view.detail'), task_path(task.id) %></td>
    <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
    <td><%= link_to t('view.destroy'), task_path(task.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
  </tr>
  <% end %>
</table>
<%= link_to t('view.new_task'), new_task_path %>
