<h2><%= t('view.detail_view') %></h2>
<p><%= notice %></p>
<p><%= t('activerecord.attributes.task.name') %>: <%= @task.name %></p>
<p><%= t('activerecord.attributes.task.description') %>: <%= @task.description %></p>
<%= link_to t('view.to_index_view'), tasks_path %>
