<div class="col-md-4"></div>
<div class="col-md-4">
<h4><%= t('view.detail_view') %></h4>
<p><%= notice %></p>
<p class="detail_view_title"><%= t('activerecord.attributes.task.name') %></p>
<p class="detail_view_content"><%= @task.name %></p>
<p class="detail_view_title"><%= t('activerecord.attributes.task.description') %></p>
<p class="detail_view_content"><%= @task.description %></p>
<p class="detail_view_title"><%= t('activerecord.attributes.task.expired_at') %></p>
<p class="detail_view_content"><%= @task.expired_at.strftime('%Y-%m-%d %H:%M') %></p>
<p class="detail_view_title"><%= t('activerecord.attributes.task.status') %></p>
<p class="detail_view_content"><%= @task.status %></p>
<p class="detail_view_title"><%= t('activerecord.attributes.task.priority') %></p>
<p class="detail_view_content"><%= @task.priority %></p>
<%= link_to t('view.to_index_view'), tasks_path, class: "btn btn-default" %>
</div>
<div class="col-md-4"></div>
